h1{
    display:flex;
    justify-content:center;
}
h2{
    display:block;
    width: 30px;
    
}
#container{
    margin-top: 7rem;
    display:flex;
    justify-content:center;
}
.choice{
    margin: 50px;
}